.Header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    width: 110.51702117919922px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.list-item {
    font-weight: 400;
    font-size: 19px;
    line-height: 160%;
    color: #969999;
    cursor: pointer;
    transition: all 0.5s ease;
}

.list-item:hover {
    color: #35AFBF;
    transition: all 0.3s ease;
    transform: translateY(-3px);
}

.btn-login {
    padding: 15px 30px;
    height: 49px;
    background: #35AFBF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}