.Main {
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.mainTopp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px;

}

.mainTitle {
    width: 483px;
    height: 45px;
    font-weight: 700;
    font-size: 39px;
    line-height: 45px;
    color: #252626;
}

.titleTexts {

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #707273;
}

.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 261px;
    height: 262px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    padding: 15px;
    cursor: pointer;
}

.Card:hover {
    background-color: #D1F4F9;
    border: 1px solid #A3E0E8;
    transition: background-color 0.2s ease;

}

.Card h1 {

    height: 32px;
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #252626;
}

.Card p {
    width: 217px;
    height: 52px;

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #707273;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 30px;
    margin-bottom: 150px;
}

.mainAre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px auto;
}

.areInfo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
}

.areInfo h1 {
    width: 260px;
    height: 45px;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #252626;

}

.areInfo span {
    height: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #707273;
}

.areInfo p {
    width: 449px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #707273;

}

.areBtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #35AFBF;
    padding: 20px 40px;
    border: 1px solid #81d2dd;
    border-radius: 6px;
}

.boxTow-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.boxesTow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 150px auto;
}

.boxTow-info h1 {
    width: 491px;
    height: 45px;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: #252626;
}

.boxTow-info p {
    width: 785px;
    height: 52px;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #707273;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    width: 1200px;
}

.Box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-direction: column;
}

.Box h1 {
    width: 296px;
    height: 32px;
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #252626;
}

.Box p {
    width: 315px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #707273;
}

.mainUserInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-image: url(../images/Background\ \(4\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 501px;
    width: 100%;
    margin: 150px auto;
    background-color: #35afbf17;


}

.mainUserInfo h1 {
    width: 1072px;
    height: 135px;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: #4B4C4C;
}

.userProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.usreInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.userName {
    width: 143px;
    height: 17px;
    font-weight: 500;
    font-size: 21px;
    line-height: 80%;
    color: #4B4C4C;
}

.userSurname {
    width: 81px;
    height: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #707273;
}
.mainFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 150px auto;

}
.mainFooter h1{
    width: 854px;
    height: 102px;
    font-weight: 700;
    font-size: 38px;
    line-height: 135%;
    text-align: center;
    color: #252626;
}